@font-face {
    font-family: "Coolvetica";
    src: url(coolvetica.otf);
}

body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Coolvetica";
    margin-left: 0;
}

.settingcont {
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(176, 176, 142);
}

.settingtext {
    text-align: center;
    float: left;
    margin-left: 1vw;
    margin-top: 6%;
}

.settinginput {
    height: 50px;
    float: right;
    margin-right: 1vw;
}

.settingstitle {
    letter-spacing: 10px;
    font-weight: 100;
}

.colorpick-eyedropper-input-trigger {
    display: none;
}

.title {
    margin-top: 0px;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.canvas {
    padding: 5px;
}

.settings {
    z-index: 1;
    position: fixed;
    background-color: beige;
    height: 100%;
    left: -300px;
    top: 0;
    width: 250px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    box-shadow: 10px 6px 10px 2px rgba(109, 109, 98, 0.385);
}

.close {
    cursor: pointer;
    position: absolute;
    align-content: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.sidebutton {
    align-content: center;
    z-index: 1;
    position: fixed;
    background-color: beige;
    width: 20vw;
    height: 50px;
    width: 100px;
    padding-right: 10px;
    float: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s;
    overflow: hidden;
    left: -75px;
    cursor: pointer;
}

.sidebutton:hover {
    left: 0;
}

table,
td,
tr {
    margin: 0px auto;
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: rgb(0, 0, 0);
    pointer-events: auto;
    user-select: none;
}

td {
    width: 7px;
    height: 7px;
}

tr {
    height: 7px;
}

.gencanvas {
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    font-family: "Coolvetica";
    font-size: 30px;
    margin-bottom: 30px;
}

.gencanvasdiv {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.exportbtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    font-family: "Coolvetica";
    font-size: 30px;
    visibility: hidden;
}

.newTxt {
    color: white;
    word-wrap: break-word;
    margin: auto;
    align-content: center;
    width: 50%;
}

.animtext {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
}

.animtext .title {
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    max-width: none;
}



@keyframes marquee {
    0% {
        transform: translate(100vw, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}


@keyframes spinny {
    0% {
        transform: rotate(-55deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    animation: bgIn 0.6s;
}

@keyframes bgIn {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.6)
    }
}

@keyframes bgOut {
    0% {
        background-color: rgba(0, 0, 0, 0.6)
    }

    100% {
        background-color: rgba(0, 0, 0, 0)
    }
}

.popupContent {
    font-family: "Coolvetica";
    width: 500px;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(49, 49, 49);
    outline: ridge;
    outline-color: rgb(255, 255, 255);
    border-radius: 10px;
    animation: contentIn 0.6s;
}

@keyframes contentIn {
    0% {
        transform: translate(-50%, -500%)
    }

    100% {
        transform: translate(-50%, -50%)
    }
}

@keyframes contentOut {
    0% {
        transform: translate(-50%, -50%)
    }

    100% {
        transform: translate(-50%, 500%)
    }
}

.popupTitle {
    color: #f8f8f8;
    text-align: left;
    padding-left: 20px;
    font-size: 50px;
    margin: 0px 0px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
    letter-spacing: 10px;
    font-weight: 100px;
}

.popupText {
    font-size: 30px;
    color: #f8f8f8;
    text-align: center;
}

.popupOptions {
    display: flex;
    justify-content: center;
}

.popupOptions>div {
    width: 50%;
    font-size: 20px;
    background-color: #000000;
    margin: 10px;
    text-align: center;
    outline: ridge;
    outline-color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
}

.popupOptions>div:hover {
    cursor: pointer;
}

.button1 {
    display: none;
}

.button2 {
    display: none;
}

.button3 {
    display: none;
}

.textarea {
    display: none;
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


.sorrynotsorry {
    z-index: 9999;
    position: fixed;
    display: auto;
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 10vw;
}

.p {
    animation: spinny 1s cubic-bezier(0, .5, 1, -0.5) infinite;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .sorrynotsorry {
        display: none;
    }
}