@font-face {
    font-family: "Coolvetica";
    src: url(coolvetica.otf);
}


body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Coolvetica";
}

.title {
    margin-top: 0px;
    font-size: 60px;
    text-align: center;
    color: white;
}

.canvas {
    padding: 5px;
}

.settings {
    z-index: 1;
    position: fixed;
    background-color: beige;
    width: 20vw;
    height: auto;
    left: 8vw;
}

table,
td,
tr {
    margin: 0px auto;
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    border-color: white;
    background-color: rgb(0, 0, 0);
}

td {
    width: 7px;
    height: 7px;
}

tr {
    height: 7px;
}

.contrainer {
    margin-top: 30px;
}